<h1>You have <%= current_user.sessions.count %> sessions on your calendar</h1>

<% @sessions.each do |session| %>
  <div class="row col-lg-5 well" style="margin:10px;height:380px;">
    <h5>Location: <%= session.location %></h5>
    <h5>Description: <%= session.description %></h5>
    <h5>Time: <%= session.time.strftime("%A, %B %d %H:%M %p") %></h5>
    <hr>
    <h5>Band Members:</h5>
    <ul>

      <% session.users.each do |user| %>
        <li><%= user.first_name %> <%= user.last_name %> <strong style="color:green;">   accepted</strong></li>
      <% end %>

        <% @pending_invitations.each do |pending_invitation| %>
          <% if pending_invitation.session_id == session.id %>
            <li><%= pending_invitation.user.first_name %> <%= pending_invitation.user.last_name %><strong style="color:yellow;">   pending</strong></li>
          <% end %>
        <% end %>
    </ul>
    <hr>
        <%= link_to "Generate songs", "sessions/#{session.id}/play" %>
  </div>
<% end %>