<h1>Search for bandmates to play with at <%= @session.location %></h1>

<%= form_tag "/sessions/#{@session.id}/search_users", method: :get do %>
  <p>
    <%= text_field_tag :search, "search box" %>
    <%= button_tag "Search" %>
  </p>
<% end %>

<% if @users %>
  <%= form_tag "/sessions/#{@session.id}/invite", method: :post do %>
    <%= button_tag "Invite to Jam Session" %>
    <br></br>
    <% @users.each do |user| %>
      <div>
      <%= check_box_tag "users[]", user.id, checked = false, {} %><strong> <%= user.first_name %> <%= user.last_name %></strong>
      </div><br>
    <% end %>
  <% end %>
<% end %>

<% if @invited_users %>
  <h3>The Band So Far: </h3>
  <% @invited_users.each do |band_member| %>
    <%= band_member.first_name %> <%= band_member.last_name %><br>
  <% end %> 
<% end %>
<br>
<%= link_to "send invitations", "/sessions/#{@session.id}/send_invitations", method: :post %>



