
<div class="container">
  <div ng-controller="songsCtrl" ng-init="setup()">

  <div class="row">
    <div class="col-lg-6">
      <h3>Hi <%= current_user.first_name %>, you have <%= @songs.count %> <%=  %> songs in your repetoire </h3>
    </div>
  </div>
  <br>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Style<span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a ng-click="sortBy('all')">All Songs </a></li>
       <% @styles.each_key do |key| %>
        <li><a ng-click="sortBy('<%= key %>')"><%= key %></a></li>
       <% end %>
    </ul>
  </div>
  <br>
      <%= link_to "Search for more songs", '/songs/search' %>
  <br>

  <div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-btn">
      </span>
      <input ng-model="sortTitle" type="text" class="form-control" placeholder="Song Name Search">
    </div><!-- /input-group -->
    <br>
  
  <table class="table table-hover" width="100%">
    <thead>
      <tr style="color:red;">
        <td width="30%">Title</td>
        <td width="30%">Style</td>
        <td width="30%">Composer</td>
      </tr>
    </thead>
    <tbody ng-repeat="object in songs.song_array | filter: {style: sortStyle} | filter: {title: sortTitle}">
      <tr ng-click="playSong(object)">
        <td width="30%">{{object.title}}</td>
        <td width="30%">{{object.composer}}</dt>
        <td width="30%">{{object.style}}</td>
      </tr>
    </tbody>
  </table>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> {{currentTitle}} </h4>
        </div>
        <div class="modal-body">
          <p> {{currentComposer}} </p>
          <audio id="audio" ng-src="{{previewUrl}}" controls>
          Your browser does not support the audio element.
          </audio>
        </div>
        <div class="modal-footer">
          <button id="audioClose" ng-click="endSong()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

