<h1>Search for songs</h1>

<%= form_tag '/songs/search', method: :get do %>
  <p>
    <%= text_field_tag :search, "search box" %>
    <%= button_tag "Search" %>
  </p>
<% end %>

<%= form_tag '/songs', method: :post do %>
  <%= button_tag "Add to repetoire" %>
  <br></br>

  <table class="table table-hover" width="100%">
    <thead>
      <tr style="color:red;">
        <th width="30%">Title</th>
        <th width="30%">Style</th>
        <th width="30%">Composer</th>
      </tr>
    </thead>
  <% @songs.each do |song| %>
  <tbody>
    <tr>
      <td width="30%"><%= check_box_tag "songs[]", song.id, checked = false, {} %>  <%= song.title %></td>
      <td width="30%"><%= song.style %></td>
      <td width="30%"><%= song.composer %></td>
    </tr>
  </tbody>
  <% end %>
  </table><br>
<% end %>

