<div class="container">
  <h1>Real Session</h1>

  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="col-xs-7" class="field">
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="col-xs-7" class="field">
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="col-xs-7" class="field">
        <%= f.check_box :remember_me %>
      </div>
    <% end -%>

    <div  class="col-xs-7" class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  <div class="col-xs-7">
    <%= render "devise/shared/links" %>
  </div>

</div>
